---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: ci

on:
  workflow_dispatch:
  push:
    branches: [ 'main' ]
    tags:
      - '*'
    paths:
      - 'src/**'
      - 'tests/**'
      - '*.hcl'
      - '*.props'
  pull_request:
    branches: [ 'main' ]
    paths:
      - 'src/**'
      - 'tests/**'
      - '*.hcl'
      - '*.props'

env:
 BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - name: Setup dotnet
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          global-json-file: global.json

      - name: Verify formatting
        run: dotnet format --verify-no-changes

  sarif-prepare:
    name: sarif-prepare
    runs-on: ubuntu-latest
    outputs:
      sarif-paths: ${{ steps.output-sarif.outputs.SARIF_PATHS }}

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - name: Setup dotnet
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          global-json-file: global.json

      - name: Output sarif paths
        id: output-sarif
        run: |
          echo "SARIF_PATHS=$(find -iname '*.csproj' -exec dirname {} \; | xargs -I % sh -c "dotnet msbuild % -getProperty:ErrorLog | cut -d '.' -f 1 | jq -Rnc '{category: inputs, path: \"%\"} | select(.category != \"\")'" | jq -rsc)" >> $GITHUB_OUTPUT

  code-analysis:
    needs: [sarif-prepare]
    name: Code Analysis
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        sarif-path: ${{ fromJson(needs.sarif-prepare.outputs.sarif-paths) }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - name: Setup dotnet
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          global-json-file: global.json

      - name: Build
        run: dotnet build

      - name: Upload SARIF to GitHub
        uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v4.31.10
        with:
            sarif_file: ${{ matrix.sarif-path.path }}
            category: ${{ matrix.sarif-path.category }}

  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - name: Setup dotnet
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          global-json-file: global.json

      - name: Install dependencies
        run: dotnet restore

      - name: Test with dotnet
        run: dotnet test -- --report-trx

      - name: Upload dotnet test results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: dotnet-results
          path: ./tests/**/TestResults
        if: success() || failure()

  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    needs: [lint, tests]
    outputs:
      valid-release: ${{ steps.image-version.outputs.valid-release }}
      version: ${{ steps.input-version.outputs.VERSION }}
      platforms: ${{ steps.bake-options.outputs.platforms }}
      images: ${{ steps.bake-options.outputs.targets }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - name: Set input version
        id: input-version
        env:
          COMMIT_SHA: ${{ github.event.pull_request.head.sha || github.sha }}
        run: |
          VERSION="${BRANCH_NAME//\//-}-${COMMIT_SHA}"
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            VERSION=${GITHUB_REF/refs\/tags\//}
          fi
          echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT

      - name: Get semantic version
        uses: ./.github/actions/image-versions
        id: image-version
        with:
          input-version: ${{ steps.input-version.outputs.VERSION }}

      - name: Get Bake Options
        id: bake-options
        uses: ./.github/actions/bake-options

  create-docker-tags:
    name: Create docker tags
    runs-on: ubuntu-latest
    needs: [prepare]
    strategy:
      fail-fast: false
      matrix:
        image: ${{ fromJson(needs.prepare.outputs.images) }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - name: Setup Vars
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        id: vars
        with:
          script: |
            core.setOutput('repository-name', '${{ github.event.repository.name }}'.toLowerCase());

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/${{ steps.vars.outputs.repository-name }}.${{ matrix.image }}
          tags: |
            type=raw,value=latest,enable=${{ needs.prepare.outputs.valid-release }}
            type=raw,value=${{ needs.prepare.outputs.version }}

      - name: Upload Bake Metadata
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ matrix.image }}-bake-metadata
          path: ${{ steps.meta.outputs.bake-file }}
          if-no-files-found: error
          retention-days: 1

  build-docker:
    name: Build (${{ matrix.image }} - ${{ matrix.platform }})
    runs-on: ${{ startsWith(matrix.platform, 'linux/arm') && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    needs: [prepare, create-docker-tags]
    permissions:
      attestations: write
      contents: write
      id-token: write
      packages: write
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        platform: ${{ fromJson(needs.prepare.outputs.platforms) }}
        image: ${{ fromJson(needs.prepare.outputs.images) }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - name: Setup Vars
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        id: vars
        with:
          script: |
            core.setOutput('target-arch', '${{ matrix.platform }}'.split('/').pop());
            core.setOutput('target-image', 'dotbot.${{ matrix.image }}')

      - name: Login to Github Packages
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Download Bake Metadata
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: ${{ matrix.image }}-bake-metadata
          path: ${{ runner.temp }}

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build
        uses: docker/bake-action@5be5f02ff8819ecd3092ea6b2e6261c31774f2b4 # v6.10.0
        id: bake
        env:
          TAG_BASE: ghcr.io/${{ github.repository_owner }}
        with:
          files: |
            ./docker-bake.hcl
            cwd://${{ runner.temp }}/docker-metadata-action-bake.json
          set: |
            *.args.VENDOR=${{ github.repository_owner }}
            *.labels.org.opencontainers.image.title=${{ steps.vars.outputs.target-image }}
            *.labels.org.opencontainers.image.url=https://ghcr.io/${{ github.repository_owner }}/${{ steps.vars.outputs.target-image }}
            *.labels.org.opencontainers.image.version=${{ needs.prepare.outputs.version || github.sha }}
            *.labels.org.opencontainers.image.revision=${{ github.sha }}
            *.labels.org.opencontainers.image.vendor=${{ github.repository_owner }}
            ${{ format('*.output=type=image,name=ghcr.io/{0}/{1},push-by-digest=true,name-canonical=true,push=true', github.repository_owner, steps.vars.outputs.target-image) || '*.output=type=oci,dest=/tmp/image.tar' }}
            *.platform=${{ matrix.platform }}
            *.tags=
          targets: ${{ matrix.image }}

      - name: Export Digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          DIGEST=$(echo '${{ steps.bake.outputs.metadata }}' | jq -r '.${{ matrix.image }}."containerimage.digest"')
          touch "${{ runner.temp }}/digests/${DIGEST#sha256:}"

      - name: Upload Digest
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ github.event.repository.name }}-${{ matrix.image }}-digests-${{ steps.vars.outputs.target-arch }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  output-migration:
    runs-on: ubuntu-latest
    needs: [ build-docker ]
    permissions:
      contents: write
      packages: write
      id-token: write
      pull-requests: write
    steps:
        - name: Checkout
          uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
          with:
            token: ${{ secrets.PAT }}
            persist-credentials: false

        - name: Setup dotnet
          uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
          with:
            global-json-file: global.json

        - name: Install EF Tool
          run: |
            dotnet tool restore

        - name: Generate SQL migration script
          run: |
            dotnet ef migrations script --idempotent -s ./src/Dotbot.Api -p ./src/Dotbot.Infrastructure -o dotbot-migration.sql

        - name: Upload SQL script artifact
          uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
          with:
            name: dotbot-migration.sql
            path: dotbot-migration.sql
          if: ${{ always() }}

  release-images:
    name: Release Images
    runs-on: ubuntu-latest
    needs: ["prepare", "create-docker-tags", "build-docker"]
    permissions:
      attestations: write
      contents: write
      id-token: write
      packages: write
    strategy:
      fail-fast: false
      matrix:
        image: ${{ fromJson(needs.prepare.outputs.images) }}
    outputs:
      digest: ${{ steps.digest.outputs.digest }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup Vars
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        id: vars
        with:
          script: |
            core.setOutput('target-image', 'dotbot.${{ matrix.image }}')

      - name: Download Bake Metadata
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: ${{ matrix.image }}-bake-metadata
          path: ${{ runner.temp }}

      - name: Download Digests
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: ${{ runner.temp }}/digests
          pattern: ${{ github.event.repository.name }}-${{ matrix.image }}-digests-*
          merge-multiple: true

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Create Manifest List and Push
        working-directory: ${{ runner.temp }}/digests
        run: |
          docker buildx imagetools create \
              $(jq --raw-output --compact-output '.target."docker-metadata-action".tags | map(select(startswith("ghcr.io/${{ github.repository_owner }}/${{ steps.vars.outputs.target-image }}")) | "-t " + .) | join(" ")' ${{ runner.temp }}/docker-metadata-action-bake.json) \
              $(printf 'ghcr.io/${{ github.repository_owner }}/${{ steps.vars.outputs.target-image }}@sha256:%s ' *)

      - name: Inspect Image
        run: |
          docker buildx imagetools inspect ghcr.io/${{ github.repository_owner }}/${{ steps.vars.outputs.target-image }}:$(jq --raw-output '.target."docker-metadata-action".args.DOCKER_META_VERSION' ${{ runner.temp }}/docker-metadata-action-bake.json)

      - name: Export Digest
        id: digest
        run: |
          TAG=$(jq --raw-output '.target."docker-metadata-action".args.DOCKER_META_VERSION' ${{ runner.temp }}/docker-metadata-action-bake.json)
          DIGEST=$(docker buildx imagetools inspect ghcr.io/${{ github.repository_owner }}/${{ steps.vars.outputs.target-image }}:${TAG} --format '{{ json . }}' | jq --raw-output '.manifest.digest')
          echo "digest=${DIGEST}" >> $GITHUB_OUTPUT

      - name: Generate Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Upload Dependency Snapshot
        uses: anchore/sbom-action@8e94d75ddd33f69f691467e42275782e4bfefe84 # v0.20.9
        with:
            dependency-snapshot: true
            image: ghcr.io/${{ github.repository_owner }}/${{ steps.vars.outputs.target-image }}@${{ steps.digest.outputs.digest }}
            artifact-name: sbom-${{ steps.vars.outputs.target-image }}-${{ needs.prepare.outputs.version }}.sbom.spdx
            format: spdx
            upload-artifact: true

      - name: Attestation
        uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # v3.1.0
        with:
            push-to-registry: true
            subject-name: ghcr.io/${{ github.repository_owner }}/${{ steps.vars.outputs.target-image }}
            subject-digest: ${{ steps.digest.outputs.digest }}

      - name: Verify Attestation
        env:
            GITHUB_TOKEN: ${{ github.token }}
        run: |
            gh attestation verify --repo ${{ github.repository }} oci://ghcr.io/${{ github.repository_owner }}/${{ steps.vars.outputs.target-image }}@${{ steps.digest.outputs.digest }}

  github-release:
    name: Github Release
    runs-on: ubuntu-latest
    needs: ["release-images"]
    if: needs.prepare.output.valid-release
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Download SBOM artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          pattern: sbom-*
          path: ${{ runner.temp }}/sboms

      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        with:
          name: ${{ format('dotbot-{0}', needs.prepare.outputs.version) }}
          generate_release_notes: true
          files: |
            ${{ runner.temp }}/sboms
