---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Test Report

on:
  workflow_run:
    workflows: ['ci']
    types:
      - completed

jobs:
  report:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      checks: write
      contents: read

    steps:
      - name: Publish Test Report
        uses: dorny/test-reporter@b082adf0eced0765477756c2a610396589b8c637 # v2.5.0
        with:
          artifact: dotnet-results
          name: report
          path: '**/*.trx'
          reporter: dotnet-trx
